## This exericise is about using similarity for user-based and item-based CF 

- The dataset is one example with item rating. Only a small portion of missing data is in the dataset.
- Pearson similarity is used for user-based and item-based CF

In [7]:
import pandas as pd
import numpy as np

In [8]:
users = ['User1', 'User2', 'User3', 'User4', 'User5']
items = ['Item A', 'Item B', 'Item C', 'Item D', 'Item E']

dataset = [
    [5, 3, 4, 4, None],
    [3, 1, 2, 3, 3],
    [4, 3, 4, 3, 5],
    [3, 3, 1, 5, 4],
    [1, 5, 5, 2, 1]    
]

In [9]:
df = pd.DataFrame(dataset, index=users, columns=items)

In [10]:
df

       Item A  Item B  Item C  Item D  Item E
User1       5       3       4       4     NaN
User2       3       1       2       3     3.0
User3       4       3       4       3     5.0
User4       3       3       1       5     4.0
User5       1       5       5       2     1.0

#### User-based CF

In [11]:
user_similar = df.T.corr()
user_similar

          User1     User2     User3     User4     User5
User1  1.000000  0.852803  0.707107  0.000000 -0.792118
User2  0.852803  1.000000  0.467707  0.489956 -0.900149
User3  0.707107  0.467707  1.000000 -0.161165 -0.466569
User4  0.000000  0.489956 -0.161165  1.000000 -0.641503
User5 -0.792118 -0.900149 -0.466569 -0.641503  1.000000

User 2 and user 3 have high correltion with user 1. I am going to use their rating on item E to predict the rating of user 1 on item E.

In [16]:
df.loc['User2', 'Item E']

3.0

In [17]:
df.loc['User3', 'Item E']

5.0

In [18]:
user_similar.loc['User2', 'User1']

0.8528028654224417

In [20]:
user_similar.loc['User3', 'User1']

0.7071067811865475

In [21]:
rating_pred = user_similar.loc['User2', 'User1']*df.loc['User2', 'Item E']+user_similar.loc['User3', 'User1']*df.loc['User3', 'Item E']
rating_pred = rating_pred/(user_similar.loc['User2', 'User1']+user_similar.loc['User3', 'User1'])

In [22]:
rating_pred

3.9065996645686396

#### Item-based CF

In [23]:
item_similar = df.corr()
item_similar

          Item A    Item B    Item C    Item D    Item E
Item A  1.000000 -0.476731 -0.123091  0.532181  0.969458
Item B -0.476731  1.000000  0.645497 -0.310087 -0.478091
Item C -0.123091  0.645497  1.000000 -0.720577 -0.427618
Item D  0.532181 -0.310087 -0.720577  1.000000  0.581675
Item E  0.969458 -0.478091 -0.427618  0.581675  1.000000

Item E has high correlation with Item A and Item D.

In [26]:
item_similar.loc['Item A', 'Item E']

0.9694584179118516

In [27]:
item_similar.loc['Item D', 'Item E']

0.581675050747111

In [29]:
df.loc['User1', 'Item A']

5

In [30]:
df.loc['User1', 'Item D']

4

In [31]:
rating_pred = (df.loc['User1', 'Item A']*item_similar.loc['Item A', 'Item E'])+(df.loc['User1', 'Item D']*item_similar.loc['Item D', 'Item E'])
rating_pred = rating_pred/(item_similar.loc['Item A', 'Item E']+item_similar.loc['Item D', 'Item E'])

In [32]:
rating_pred

4.625